*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/fondo\ de\ pantalla.avif);
    background-size: cover;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: black;
    width: 100%;
    z-index: 100;
}

header a{
    text-decoration: none;
    color: white;
    padding: 18px 85px;
    font-size: 25px;
}

header a:hover{
    background-color: rgb(61, 61, 61);
}

.logo h1{
    margin-left: 14px;
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.title{
    color: white;
    font-size: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    text-shadow: 5px 5px 15px rgb(3, 3, 3);
}
.Containers{
    display: flex;
}

.central-container{
    background-color: white ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    width: auto;
    margin-top: 60px;
    padding: 15px;
    border-radius: 10px;
}

.Main-container{
    border: 1px dashed black ;
    padding: 6px;
}

.Sec-container{
    border: 1px dashed black ;
    padding: 6px;
}

.Ter-container{
    border: 1px dashed black ;
    padding: 6px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

p{
    text-align: justify;
}